# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.WebLesson.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Admin\Desktop\WebLesson\.idea\.idea.WebLesson\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
